.App {
    height: 94vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .page {
    display: flex;
    height: 100%;
    width: 800px;
  }
  .Main {
    display: flex;
    flex-direction: column;
    background-color: #deebeb;
    height: 100%;

    .page-item {
      display: flex;
      flex-direction: row;

      width: 100%;
      height: 100%;

      .left-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #aee2f1;
        width: 20%;
        height: 100%;
        min-width: 200px;
        max-width: 300px;
        .alert {
          margin-bottom: 20px;
        }

        .no-user {
          .register {
            .text-field {
              display: flex;
              flex-direction: column;
              padding: 10px 0;
              // background-color: white;
            }
          }
          .login {
            padding-top: 100px;
          }
          .btn {
            width: 80%;
          }
        }
        .active-user {
          display: flex;
          flex-direction: column;
          height: 100%;
          .logout-btn {
            height: 20%;
            .btn {
              width: 80%;
              margin-top: 10px;
            }
          }
          .profile-pic {
           margin-bottom: 100px;
           border: solid grey 0.1em;
            img {
              width: 100%;
              height: 100%x;
            }
          }
          .profile-pic:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
            background-color: yellow;
            cursor: pointer;
          }
          
          .tweet-box {
            height: 80%;
            .tweet-text-box {
              width: 90%;
              height: 200px;
              resize: none;
            }
            .submit-btn {
              width: 80%;
            }
          }
        }


        
      }
  
      .page-content {
        display: flex;
        width: 100%;
        background-color: lightgrey;
        justify-content: center;
      }
    }
  }

  .feed {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 350px;
    overflow-y:auto;
    padding: 10px 0;
    // margin-left: 200px;
  }
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .tweet-card {
    display: flex;
    height: 15%;
    width: 99%;
    justify-content: center;
    background-color: white;
    border: grey solid;
    margin: 2px;
    border-width: 0.1ex 0.1ex 0.1ex 0.1ex;
    
    .tweet-img-card {
      width: 20%;
      .tweet-img {
      height: 100%;
      width: 100%;
      }
    }

    .tweet-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 100%;
      .tweet-user {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        height: 25%;
        background-color: #aee2f1;
        
        .tweet-user-name {
          font-weight: bold;
        }
        .tweet-time-ago {
          color: grey;
        }
      }
      .tweet-message {
        height: 80%;
        background-color: #deebeb;
      }
    }
  }

  .tweet-card:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2); 
    
    cursor: pointer;
  }

  .tweet-modal-card {
    display: flex;
    height: 15%;
    width: 600px;
    justify-content: center;
    border: grey solid;
    border-width: 0.1ex 0.1ex 0.1ex 0.1ex;
    .tweet-modal-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      .tweet-modal-user {
        display: flex;
        justify-content: center;
       
        height: 25%;
        background-color: #aee2f1;
        .tweet-modal-time-ago {
          color: grey;
        }
      }
      .tweet-modal-message {
        text-align: center;
        height: 80%;
        background-color: #deebeb;
      }
    }
  }